* {
    margin: 0;
    padding: 0;
}
header {
    height: 100px;
    margin: 0 auto;
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    background-size: 40%;
}
#logo {
    width: 15%;
    position: absolute;
    left: 10px;
    top: 50px;
}

article{
    width: 90%;
    margin: 5px auto;
    border: 1px solid red;
}

.highlighted{
    background-color: yellow;
}