* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 100px;
    margin: 0 auto;
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    background-size: 40%;
}
#logo {
    width: 15%;
    position: relative;
    left: 10px;
    top: 50px;
}
figure {
    width: 100%;
    margin: 10px auto;
}

article{
    margin: 5px auto;
    border: 1px solid red;
}
h1 {
    font-size: 40px;
}
.subtitle {
    color: grey;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #69c3ed;
}
.date {
    color: grey;
    font-size: 12px;
}
figcaption {
    font-size: 12px;
}

p{
    margin: 10px 0;
}

.highlighted{
    background-color: yellow;
}

.list{
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

th, td {
    text-align: left;
    padding: 10px;
  }
  th {
      background-color: #21a9e5;
      border: 1px solid red;
  }
  td {
      background-color: #b1e5f2;
  }
  
  tr:nth-child(even) {
    background-color: #21a9e5;
  }

  .interests {
      margin: 30px 0;
  }
    h4 {
    color: grey;
    font-size: 16px;
    }
    .interests figure {
        position: relative;
        width: 50%;
        max-width: 300px;
      }
      
      .image {
        display: block;
        width: 100%;
        height: auto;
      }
      
      .overlay {
        position: absolute; 
        bottom: 0; 
        width: 100%;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: left;
      }